{% extends 'layout.html' %}

{% block body %}

    <h1>Welcome to Spelling Tester</h1>
    <p>Correct the 10 misspelled words</p>

    <form action="/submit" method = "POST">

        <table>
            <tr>
                <td><strong>Misspelled</strong></td>
                <td><strong>Guess</strong></td>
            </tr>
            {% for word_count in range(10) %}
            <tr>
                <td><label>{{misspelled_words[word_count]}}</label></td>
                <td><input type = "text" name="guesses[]"></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <button type="submit">Submit Guesses</button>
    </form>

{% endblock %}