{% extends 'layout.html' %}

{% block body %} 
<style>
    td {
        padding: 0.5rem;
    }
</style>
<body>
    <div class="container">
        <h1>Spelling Tester</h1>
        <div class="message">{{ message }}</div>
        <p>
        </p>
        {% if game.game_on %}
        <form action="/spelling_tester" method="post">
            <label for="guess">Correct this misspelled word:</label>
            <input type ="text", id="guess" name="guess" required>

            <button type="submit">Submit</button>
        </form>
        {% else %}
        <a href="/spelling_tester">New Game</a> 
        {% endif %}
    </div>
</body>

{% endblock %}